
.above-the-fold{
    padding-top:100px;
    padding-bottom:100px;
}

body{
    background: #FFE600 url('../backgrounds/component1.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.box-owner{
    border-radius: 20px;
    boder: solid 1 #F7f7f7;
    -webkit-box-shadow: 0px 1px 15px -2px rgba(0,0,0,0.76); 
    box-shadow: 0px 1px 15px -2px rgba(0,0,0,0.76);       
    padding:50px;  
}